<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.benben.safe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--监听开关机的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--发送短信的权限-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--接收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--获取准确GPS坐标的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许模拟器定位坐标的权限-->
    <uses-permission android:name="android.permission.ACCESS_MOKE_LOCATION" />
    <!--获取粗略坐标的权限（网络定位）-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.activity.SplashActivity">

        </activity>
        <activity android:name=".ui.activity.HomeActivity"></activity>
        <activity android:name=".ui.activity.SettingActivity"></activity>
        
        <!--手机防盗功能-->
        <activity android:name=".ui.activity.SetupOverActivity"></activity>
        <activity android:name=".ui.activity.SetUp1Activity"></activity>
        <activity android:name=".ui.activity.SetUp2Activity"></activity>
        <activity android:name=".ui.activity.SetUp3Activity"></activity>
        <activity android:name=".ui.activity.SetUp4Activity"></activity>
        <activity android:name=".ui.activity.ContactListActivity"></activity>

        <activity android:name=".GPSActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--广播-->
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter >
                <!--开机发送的广播-->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        
        <!--服务-->
        <service android:name=".service.LocationService">

        </service>
    </application>



</manifest>